{% extends 'master' %}

{% block title %}Kezdőlap{% endblock %}

{% block scripts %}
<script src="/scripts/main.js"></script>
{% endblock %}


{% block content %}
  <form action="{{ 'ruha_list' | route }}" method="GET" style="position: relative;">
  {{ csrfField }}
    <div class="input-group search-box">
      <input type="text" class="form-control" placeholder="Keresés..." name="recipeName">
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit">Mehet!</button>
      </span>
    </div>
     <div class="list-group ruha-suggestions suggestions"></div>
  </form>


   {% for categoryBatch in categories | batch(3) %}
  <div class="row">
    {% for category in categoryBatch %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ category.name }}
          <a href="{{ 'ruha_list' | route }}?category={{ category.id }}" class="btn btn-warning btn-xs pull-right">Összes megtekintése</a>
        </div>
        <div class="list-group">
          {% for ruha in category.latestRuha %}
          <a href="{{ 'ruha_page' | route({id: ruha.id}) }}" class="list-group-item">{{ ruha.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

{% endblock %}