{% extends 'master' %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script src="/scripts/smart_ingredients.js"></script>
{% endblock %}



{% block title %}Ruha módosítása{% endblock %}
{% block content %}
  <h1>Ruha módosítása</h1>
  {% if old('errors') %}
  <div class="alert alert-danger" role="alert">Nem sikerült módosítani a ruhát:
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal" action="{{ 'do_ruha_edit' | route({id: ruha.id}) }}" method="POST" enctype="multipart/form-data">
        {{ csrfField }}
        <div class="form-group">
          <label for="inputName" class="col-sm-4 control-label">Ruha neve</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputName" name="name" placeholder="Ruha neve" value="{{ ruha.name }}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputCategory" class="col-sm-4 control-label">Kategória</label>
          <div class="col-sm-8">
            <select id="inputCategory" class="form-control" name="category">
              {% for category in categories %}
              {% if ruha.category_id == category.id %}
              <option value="{{ category.id }}" selected>{{ category.name }}</option>
              {% else %}
              <option value="{{ category.id }}">{{ category.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputanyag" class="col-sm-4 control-label">Anyaga</label>
          <div class="col-sm-8">
            <textarea id="inputanyag" class="form-control" name="anyag">{{ ruha.anyag }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="szin" class="col-sm-4 control-label">Szine</label>
          <div class="col-sm-8">
            <textarea id="inputszin" class="form-control" name="szin">{{ old('szin') }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescription" class="col-sm-4 control-label">Leírás</label>
          <div class="col-sm-8">
            <textarea id="inputDescription" class="form-control" name="description">{{ recipe.description }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputImage" class="col-sm-4 control-label">Ruha képe</label>
          <div class="col-sm-8">
            <input type="file" id="inputImage" name="image">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-success">Mentés</button>
            <a href="{{ 'ruha_page' | route({id: ruha.id}) }}" class="btn btn-default">Vissza</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
