{% extends 'master' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js"></script>
<script src="/scripts/delete.js"></script>
{% endblock %}


{% block title %}{{ ruha.name }}{% endblock %}
{% block content %}
  <h1>{{ ruha.name }}</h1>
  <p><a href="{{ 'ruha_list' | route }}?category={{ ruha.category.id }}">{{ ruha.category.name }}</a> · beküldte <em>{{ recipe.created_by.nickname }}</em></p>
  {% if ruhaImage %}
  <img src="{{ ruhaImage }}">
  {% endif %}
  <h2>Anyag</h2>
  <pre>{{ ruha.anyag }}</pre>
  <h2>Szin</h2>
  <pre>{{ ruha.szin }}</pre>
  <h2>Leírás</h2>
  <p>{{ ruha.description }}</p>
 // {% if currentUser %}
  {% if currentUser.id == ruha.created_by.id %}
  <div>
     {{ csrfField | safe }}
    <a class="btn btn-primary" href="{{ 'ruha_edit' | route({id: ruha.id}) }}">Módosítás</a>
    <a class="btn btn-danger" href="{{ 'ruha_delete' | route({id: ruha.id}) }}">Törlés</a>
  <span class="help-block"></span>
  </div>
 // {% endif %}
  
  <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  {% endif %}
{% endblock %}
